<launch>
    <node pkg="mjpeg_server" type="mjpeg_server" name="mjpeg_server" />
    <node pkg="pr2_tuck_arms_action" type="tuck_arms.py" name="tuck_arms"/> 
    <node pkg="teleop_web_app" type="arm_state.py" name="get_arm_state" output="screen" />
    <node pkg="teleop_web_app" type="point_forearms_down.py" name="point_arms" output="screen" />
</launch>
